/* styles.css */

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 20, 0, 0, 0);
}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}
.listview {
    -fx-text-fill: black;
    -fx-font-family: cambria;
    -fx-font-size: 16;
    -fx-background-radius: 8;
    -fx-control-inner-background-alt: #D1ECFC;
    -fx-padding: 5;
    -fx-cell-size: 30px;
}

.listview:filled:hover,
.listview:filled:selected {
    -fx-background-color:  #79A0CB;
}

.webview {
    -fx-font-family: cambria;
    -fx-font-size: 18;
     -fx-background-radius: 8;
}